/* Theme */

body {
 background-image: url("../../images/background.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 color: red;
}

.icons-social a {
	color: blue;
}

.icons-social a svg path{
	fill: blue;
}
